[submodule "software/py3/gaugette"]
	path = software/py3/gaugette
	url = https://github.com/guyc/py-gaugette
[submodule "software/MFRC522-python"]
	path = software/MFRC522-python
	url = git@github.com:declanshanaghy/MFRC522-python.git
[submodule "luma.examples"]
	path = luma.examples
	url = git@github.com:rm-hull/luma.examples.git
